button:hover {
  cursor: pointer;
  opacity: 0.7;
}
button:active {
  opacity: 0.5;
}
.header {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}
.left-section {
  display: flex;
  align-items: center;
}
.menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
  cursor: pointer;
}
.logo {
  height: 20px;
  cursor: pointer;
}    
.search {
  font-size: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex: 1;
  width: 0;
  height: 36px;
  padding-left: 10px;
  font-family: Roboto, Arial;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 0.5px rgba(0, 0, 0, 0.1)
}
.search::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.middle-section {
  margin-left: 70px;
  margin-right: 35px;
  flex: 1;
  max-width: 700px;
  align-items: center;
  display: flex;  
}
.search-button {
  width: 60px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 1px;
  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;
  box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.08);
}
.search-button,
.voice,
.notif-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.search-button .tooltip,
.voice .tooltip,
.notif-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice:hover .tooltip,
.notif-container:hover .tooltip {
  opacity: 1;
}
.voice {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 15px;
  border: none;
  background-color: rgb(236, 235, 235);
}
.search-icon {
  height: 25px;
}
.voice-icon {
  height: 25px;
}
.right-section {
  width: 180px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;  
}
.upload {
  height: 24px;
}
.apps {
  height: 24px;
}
.notif-container {
  position: relative;
}
.notifs {
  height: 24px;
}
.notif-message {
  background-color: rgb(196, 8, 8);
  color: white;
  border-radius: 10px;
  position: absolute;
  top: -3px;
  right: -4px;
  font-size: 10px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}
.profile {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}