.grey {
  background-color: gray;
  width: 320px;
  height: 180px;
  position: fixed;
  bottom: 20px;
  right: 20px;

}
.close {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 26px;
  border-radius: 24px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  top: -12px;
  left: -12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  font-family: Arial;
}
.time {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 10px;
  right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.container {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgb(168, 168, 168);
  width: 500px;
  height: 500px;
}
.shirt {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin-left: 30px;
}
.tag {
  position: absolute;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 10px;
  right: 0;
  font-weight: bold;
  font-size: 20px;
}
.tag:hover {
  text-decoration: underline;
  cursor: pointer;
}
.tag:active {
  color: rgba(255, 255, 255, 0.7);
}
.white-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.but {
  background-color: white;
  border-color: black;
  border-style: solid;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button:active {
  opacity: 0.5;
}
