p {
 font-family:Arial;
}
button {
  font-family:Arial;
}
input {
  font-family:Arial;
}
.yes {
   display: inline-block;
   vertical-align: 25px;
}
 .no {
   vertical-align: 25px;
   display: inline-block;
}
 .par {
   width: 250px;
   display: inline-block;
   margin-top: 0px;
   margin-bottom: 0px;
}
 div {
  width: 700px;
  text-align: center;
  margin-left: 540px;
  margin-top: 260px;
}
 .go {
   width: 350px;
   margin-bottom: 15px;
}
  .input {
    border: none;
    border-radius: 40px;
    width: 700px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
}
  .but {
    display: inline-block;
    background-color: rgb(240, 240, 240);
    border: none;
    font-size: 24px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

  .input1, .input2 {
    display: inline-block;
    vertical-align: -130px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 10px;
    font-size: 20px;
    width: 170px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}
  .input3 {
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 372px;
    font-size: 20px;
    display: block;
    border-style: solid;
    margin-top: 8px;
    border-color: rgb(200, 200, 200);
}
  .sign {
    border-radius: 10px;
    width: 399px;
    font-size: 20px;
    padding-bottom: 18px;
    padding-top: 18px;
    margin-top: 8px;
    background-color: rgb(50, 100, 255);
    color: white;
    border: none;
    transition-opacity: 0.2s;
} 
  button:hover {
    cursor: pointer;
    opacity: 0.9;
}
  button:active {
    opacity: 0.7;
}
